// Load fonts
@import url(http://fonts.googleapis.com/css?family=Lustria|Lato:700);

// Color scheme https://kuler.adobe.com/Salmon-on-Ice-color-theme-2291686/
@dk:  #3E454C; // dark
@hl:  #2185C5; // highlight
@hll: #7ECEFD; // lighter highlight
@lt:  #FFF6E5; // light
@ct:  #FF7F66; // contrast

// Sizes
@contentWidth: 750px;
@marginTop:    50px;
@marginSide:   100px;

// Fonts and Text
@font:       'Lustria', serif;
@headerFont: 'Lato', sans;

@fontSize:      19px;
@fontSizeH1:    50px;
@fontSizeH2:    30px;
@parSep:        40px;

@linkSizeFactor: 0.8;

// Sizes for small devices
@smallMarginTop:     25px;
@smallMarginSide:    25px;
@smallFontSize:      18px;
@smallFontSizeH1:    40px;
@smallFontSizeH2:    28px;
@smallParSep:        25px;

#wrapper {
    width: 100%;
    margin: auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    overflow: hidden !important;
    position: relative;
}

#content {
    max-width: @contentWidth;

    margin: @marginTop auto;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: white;
}

.headerFont() {
    font-family: @headerFont;
    font-weight: 700;
    color: @dk;
}

.textFont() {
    font-family: @font;
    line-height: 140%;
    font-size: @fontSize;
}

.pad(@width) {
    padding-left: unit(@width, px);
}

h1 {
    .pad(6);
    .headerFont;
    font-size: @fontSizeH1;
}

h1::before {
    content: "↬ ";
    color: @hll;
}

h2 {
    display: inline-block;
    .pad(10);
    .headerFont;
    font-size: @fontSizeH2;
    margin-top: 0;
    margin-bottom: 0;
}

.links {
    .headerFont;
    display: inline;
    padding-left: 0.7em;
    font-size: @linkSizeFactor * @fontSizeH2;

    a {
        color: @hl;
        text-decoration: none;
        padding-bottom: 3pt;
    }

    a:hover, a:focus {
        color: @hll;
    }
}

p {
    .pad(10);
    .textFont;
    margin-bottom: @parSep;

    a {
        color: @dk;
        text-decoration: none;
    }

    a::before {
        content: "⇢";
        color: @dk;
        padding-right: 2px;
    }

    a:hover, a:focus {
        color: @hl;
    }

    a:hover::before, a:focus::before {
        color: black;
    }

    img {
        float: right;
        margin-left: 20px;
        margin-bottom: 20px;
    }
}

ul {
    .textFont;
}

@media screen and (max-width: (@contentWidth + 2 * @marginSide)) {
    p > img {
        display: none;
    }

    #content {
        width: 90%;
        margin: auto;
        margin-top: @smallMarginTop;
    }

    h1 {
        font-size: @smallFontSizeH1;
    }

    h2 {
        font-size: @smallFontSizeH2;
    }

    .textFont() {
        font-size: @smallFontSize;
    }

    p {
        .textFont;
        margin-bottom: @smallParSep;
    }

    ul {
        .textFont;
    }

    .links {
        font-size: @linkSizeFactor * @smallFontSizeH2;
    }
}

@media screen and (max-width: 480px) {
    div.links {
        margin-top: 0.25 * @smallParSep;
        .pad(10);
        display: block;
    }
}
