@import url(https://fonts.googleapis.com/css?family=Lustria|Lato:700);

:root {
    /* Color scheme https://kuler.adobe.com/Salmon-on-Ice-color-theme-2291686/ */
    --dk: #3E454C;
    /* dark */
    --hl: #2185C5;
    /* highlight */
    --hll: #7ECEFD;
    /* lighter highlight */
    --lt: #FFF6E5;
    /* light */
    --ct: #FF7F66;
    /* contrast */

    /* Sizes */
    --content-width: 750px;
    --margin-top: 50px;
    --margin-side: 100px;

    /* Fonts and Text */
    --font: 'Lustria', serif;
    --header-font: 'Lato', sans-serif;

    --font-size: 19px;
    --font-size-h1: 50px;
    --font-size-h2: 30px;
    --par-sep: 40px;

    --link-size-factor: 0.8;
}

#wrapper {
    width: 100%;
    margin: auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    overflow: hidden !important;
    position: relative;
}

#content {
    max-width: var(--content-width);
    margin: var(--margin-top) auto;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: white;
}

h1 {
    font-family: var(--header-font);
    font-weight: 700;
    color: var(--dk);
    font-size: var(--font-size-h1);
    margin-top: var(--par-sep);
    margin-bottom: calc(0.8 * var(--par-sep));

    &::before {
        content: "↬ ";
        color: var(--hll);
    }
}

h2 {
    display: inline-block;
    font-family: var(--header-font);
    font-weight: 700;
    color: var(--dk);
    font-size: var(--font-size-h2);
    margin-top: 0;
    margin-bottom: 0;
}

.links {
    font-family: var(--header-font);
    font-weight: 700;
    color: var(--dk);
    display: inline;
    padding-left: 0.7em;
    font-size: calc(var(--link-size-factor) * var(--font-size-h2));

    & a {
        color: var(--hl);
        text-decoration: none;
        padding-bottom: 3pt;
    }

    & a:hover,
    & a:focus {
        color: var(--hll);
    }
}

p {
    font-family: var(--font);
    line-height: 140%;
    font-size: var(--font-size);
    margin-bottom: var(--par-sep);
    hyphens: auto;

    & a {
        color: var(--dk);
        text-decoration: none;
    }

    & a::before {
        content: "⇢";
        color: var(--dk);
        padding-right: 2px;
    }

    & a:hover,
    & a:focus {
        color: var(--hl);
    }

    & a:hover::before,
    & a:focus::before {
        color: black;
    }

    & img {
        float: right;
        margin-left: 20px;
        margin-bottom: 20px;
    }
}

ul {
    font-family: var(--font);
    line-height: 140%;
    font-size: var(--font-size);
}

code {
    font-size: 0.9em;
}

/* Small devices: 750px + 2 * 100px = 950px */
@media screen and (max-width: 950px) {
    :root {
        --margin-top: 25px;
        --font-size: 18px;
        --font-size-h1: 40px;
        --font-size-h2: 28px;
        --par-sep: 25px;
    }

    p>img {
        display: none;
    }

    #content {
        width: 90%;
        margin: auto;
        margin-top: var(--margin-top);
    }
}

@media screen and (max-width: 480px) {
    div.links {
        margin-top: calc(0.25 * var(--par-sep));
        display: block;
    }
}
